<h3>Cost Structures</h3>
{{#each plan.costStructures as |costStructure|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{costStructure.tag}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{costStructure.details}}

    </div>

  </div>
  <div class="row">
    {{update-form thisComponent=costStructure hasCustomerSegment=false update="update"}}

    <button {{action 'delete' costStructure}}>Delete </button>

  </div>
{{/each}}
