<h3>Cost Structures</h3>
{{#each plan.costStructures as |costStructure|}}
{{costStructure.tag}}
  <ul>
    <li>{{costStructure.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-form thisComponent=costStructure hasCustomerSegment=false update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' costStructure}}>Delete </button>
    </div>
  </div>
{{/each}}
