<h3>Cost Structures</h3>
{{#each plan.costStructures as |costStructure|}}
  {{costStructure.tag}}
  <ul>
    <li>{{costStructure.details}}</li>
  </ul>

  {{update-form thisComponent=costStructure hasCustomerSegment=false update="update"}}

  <button {{action 'delete' costStructure}}>Delete </button>

{{/each}}
