<h3>Customer Segments</h3>
{{#each plan.customerSegments as |segment|}}
  {{segment.tag}}
  <ul>
    <li>{{segment.details}}</li>
  </ul>

  {{update-form thisComponent=segment hasCustomerSegment=false update="update"}}

  <button {{action 'delete' segment}}>Delete </button>


{{/each}}
