<h3>Customer Segments</h3>
{{#each plan.customerSegments as |segment|}}
{{segment.tag}}
  <ul>
    <li>{{segment.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-customer-segment segment=segment update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' segment}}>Delete </button>
    </div>
  </div>


{{/each}}
