<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">{{customerSegment.tag}}</h2>
  </div>
  <div class="panel-body">
    <p>
      {{customerSegment.details}}
    </p>
    <button>Update</button>
    <button>Delete</button>

  </div>
    
</div>
