<h3>Customer Segments</h3>
{{#each plan.customerSegments as |segment|}}
<div class="panel">
  <div class="panel-heading">
    <h2 class="panel-title">{{segment.tag}}</h2>
  </div>
  <div class="panel-body">
    <h3>{{segment.details}}</h3>
  </div>
</div>
{{/each}}
