<h3>Customer Segments</h3>
{{#each plan.customerSegments as |segment|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{segment.tag}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{segment.details}}
    </div>

  </div>

  <div class="row">
    {{update-form thisComponent=segment hasCustomerSegment=false update="update"}}

    <button {{action 'delete' segment}}>Delete </button>
  </div>

{{/each}}
