<h3>Key Resources</h3>
{{#each plan.keyResources as |keyResource|}}
  {{keyResource.tag}}
  <ul>
    <li>{{keyResource.details}}</li>
  </ul>

  {{update-form thisComponent=keyResource hasCustomerSegment=false update="update"}}

  <button {{action 'delete' keyResource}}>Delete </button>

{{/each}}
