<h3>Key Resources</h3>
{{#each plan.keyResources as |keyResource|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{keyResource.tag}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{keyResource.details}}
    </div>

  </div>

  <div class="row">
    {{update-form thisComponent=keyResource hasCustomerSegment=false update="update"}}

    <button {{action 'delete' keyResource}}>Delete </button>

  </div>
{{/each}}
