<h3>Key Partners</h3>
{{#each plan.keyPartners as |keyPartner|}}
  {{keyPartner.tag}}
  <ul>
    <li>{{keyPartner.details}}</li>
  </ul>

  {{update-form thisComponent=keyPartner hasCustomerSegment=false update="update"}}

  <button {{action 'delete' keyPartner}}>Delete </button>

{{/each}}
