<h3>Key Activities</h3>
{{#each plan.keyActivities as |keyActivity|}}
  {{keyActivity.tag}}
  <ul>
    <li>{{keyActivity.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-form thisComponent=keyActivity hasCustomerSegment=false update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' keyActivity}}>Delete </button>
    </div>
  </div>
{{/each}}
