<h3>Key Activities</h3>
{{#each plan.keyActivities as |keyActivity|}}
  {{keyActivity.tag}}
  <ul>
    <li>{{keyActivity.details}}</li>
  </ul>

  {{update-form thisComponent=keyActivity hasCustomerSegment=false update="update"}}

  <button {{action 'delete' keyActivity}}>Delete </button>

{{/each}}
