<h3>Key Partners</h3>
{{#each plan.keyPartners as |keyPartner|}}
  <div class="row">
    <div class="tag-box">
      <strong>{{keyPartner.tag}}</strong>
    </div>

  </div>
  <div class="row">
    <div class="detail-box">
      {{keyPartner.details}}
    </div>

  </div>

  <div class="row">
    {{update-form thisComponent=keyPartner hasCustomerSegment=false update="update"}}

    <button {{action 'delete' keyPartner}}>Delete </button>

  </div>

{{/each}}
