<h3>Key Partners</h3>
{{#each plan.keyPartners as |keyPartner|}}
  {{keyPartner.tag}}
  <ul>
    <li>{{keyPartner.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-form thisComponent=keyPartner hasCustomerSegment=false update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' keyPartner}}>Delete </button>
    </div>
  </div>
{{/each}}
