<h3>Revenue Streams</h3>
{{#each plan.revenueStreams as |revenueStream|}}
  {{revenueStream.tag}}
  <ul>
    <li>{{revenueStream.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-form thisComponent=revenueStream hasCustomerSegment=true update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' revenueStream}}>Delete </button>
    </div>
  </div>
{{/each}}
