<h3>Sales Channels</h3>
{{#each plan.salesChannels as |salesChannel|}}
  {{salesChannel.tag}}
  <ul>
    <li>{{salesChannel.details}}</li>
  </ul>
  <div class="row">
    <div class="col-sm-6">
      {{update-form thisComponent=salesChannel hasCustomerSegment=true update="update"}}
    </div>
    <div class="col-sm-6">
      <button {{action 'delete' salesChannel}}>Delete </button>
    </div>
  </div>
{{/each}}
