<h2>Welcome to our site</h2>
<h3>This is site for developing and tracking your business models.</h3>

<button>New model</button>


<h3>Current Models</h3>
{{#each model as |plan|}}
  {{business-model-tile plan=plan}}
{{/each}}
